.investor-graph{
    width: 700px;
    height: 350px;
    border: 2px solid #F1F5F7;
    border-radius: 8px;
}

.investor-graph-para{
    display: flex;
    gap: 10px;
}
.investor-graph-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 50px 30px;
}
.graph{
    width: 595.13px;
    height: 224.4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.graph p{
    transform: rotate(-89.9deg);
    font-size: 16px;
    color: #1a1a1a;
}
.investor-graph-heading p{
font-size: 22px;
}